<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  <a [routerLink]="['/flightPanel']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">FlightPanel</a>
  <!--<a [routerLink]="['/airportMap']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">CityMap</a>-->
  <a [routerLink]="['/admin']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Admin</a>


</nav>
