<div class="flightPanel">
  <p-toolbar>
    <div class="flightPanel__container">
      <p-autoComplete  placeholder="Откуда" [(ngModel)]="flightQuery.airportFromObject.cityName" [suggestions]="tipCities" (completeMethod)="cityTip($event)" class="flightPanel__container_first flightPanel__input"></p-autoComplete>
      <p-autoComplete  placeholder="Куда" [(ngModel)]="flightQuery.airportToObject.cityName" [suggestions]="tipCities" (completeMethod)="cityTip($event)" class="flightPanel__input"></p-autoComplete>

      <p-calendar dateFormat="dd/mm/yy" placeholder="Когда" [(ngModel)]="flightQuery.departureTime" [minDate]="flightQuery.departureTime" class="flightPanel__container_first"></p-calendar>
      <p-calendar dateFormat="dd/mm/yy" placeholder="Обратно" [(ngModel)]="flightQuery.arrivalTime" [minDate]="flightQuery.departureTime"></p-calendar>


      <button type="button" (click)="search()" class="flightPanel__container_in flightPanel__container_first btn btn_white">Поиск</button>


    </div>
  </p-toolbar>
</div>

<div class="flightPanel__table">

  <div class="flightPanel__filter">
    <div class="flightPanel__filter_content">
      <h4>Фильтры</h4>
    </div>
    <div class="flightPanel__filter_content ">
      <p>Максимальная цена: {{flightQuery.cost}}</p>
      <p-slider [(ngModel)]="flightQuery.cost" [min]="100" [max]="100000"></p-slider>
    </div>

    <div class="flightPanel__filter_content">
      <button type="button" (click)="search()" class="btn">Обновить</button>
    </div>
  </div>

  <div class="flightPanel__tab">
    <p-tabView class="flightPanel__tabView" [activeIndex]="tabIndex">
      <p-tabPanel header="Билеты">
        <ul *ngIf="flights">
          <li *ngFor="let flight of flights" class="main">
            <sd-flightOffer [flight]="flight"></sd-flightOffer>
          </li>
        </ul>
      </p-tabPanel>
      <p-tabPanel header="Карта">
        <ul *ngIf="flights">
          <!-- todo remove comment-->
          <!--<sd-flightMap [flights]="flights"></sd-flightMap>-->
        </ul>
      </p-tabPanel>
    </p-tabView>
  </div>

</div>
