<div [ngClass]="(!flightsArray)? 'flightPanel__empty' : 'flightPanel'">


  <p-toolbar>
    <div class="center-container">
      <div *ngIf="!flightsArray" class="flightPanel__helloworld">
        Поиск авиабилетов
      </div>
      <div class="flightPanel__container">
        <p-autoComplete  placeholder="Откуда" [(ngModel)]="flightQuery.airportFromObject.cityName" [suggestions]="tipCities" (completeMethod)="cityTip($event)" class="flightPanel__container_first flightPanel__input"></p-autoComplete>
        <p-autoComplete  placeholder="Куда" [(ngModel)]="flightQuery.airportToObject.cityName" [suggestions]="tipCities" (completeMethod)="cityTip($event)" class="flightPanel__input"></p-autoComplete>

        <p-calendar dateFormat="dd/mm/yy" placeholder="Когда" [(ngModel)]="flightQuery.departureTime" [minDate]="flightQuery.departureTime" class="flightPanel__container_first"></p-calendar>
        <!--<p-calendar dateFormat="dd/mm/yy" placeholder="Обратно" [(ngModel)]="flightQuery.arrivalTime" [minDate]="flightQuery.departureTime"></p-calendar>-->


        <!--<button type="button" (click)="search()" class="flightPanel__container_in flightPanel__container_first btn btn_white">Поиск</button>-->
        <button type="button" (click)="searchComplex()" class="flightPanel__container_in flightPanel__container_first btn btn_white">
          <i class="fas fa-search flightPanel__search-icone"></i>
          Поиск</button>

      </div>
    </div>
  </p-toolbar>

</div>

<div *ngIf="flightsArray"  class="flightPanel__table center-container">

  <div class="flightPanel__filter">
    <div class="flightPanel__filter_content">
      <h4>Фильтры</h4>
    </div>
    <div class="flightPanel__filter_content ">
      <p>Максимальная цена: {{flightQuery.cost}}</p>
      <p-slider [(ngModel)]="flightQuery.cost" [min]="100" [max]="150000" (onSlideEnd)="searchComplex()" ></p-slider>
    </div>

    <div class="flightPanel__filter_content flightPanel__transfers">
      <p>Пересадки</p>
      <p-radioButton name="groupname" value="no" label="Без пересадок" [(ngModel)]="selectTransfer" ></p-radioButton>
      <p-radioButton name="groupname" value="yes" label="0-2 пересадки" [(ngModel)]="selectTransfer" ></p-radioButton>

      <!--<p-listbox [options]="transfers" [(ngModel)]="selectTransfer" class="flightPanel__filter_listbox"></p-listbox>-->
    </div>

    <div class="flightPanel__filter_content">
      <!--<button type="button" (click)="search()" class="btn">Обновить</button>-->
      <button type="button" (click)="searchComplex()" class="btn">
        <i class="fas fa-search flightPanel__search-icone"></i>
        Обновить</button>

    </div>
  </div>

  <div class="flightPanel__tab" >
    <p-tabView class="flightPanel__tabView" [activeIndex]="tabIndex">
      <p-tabPanel header="Билеты">
        <!--<ul *ngIf="flights">-->
          <!--<li *ngFor="let flight of flights">-->
            <!--<sd-flightOffer [flight]="flight"></sd-flightOffer>-->
          <!--</li>-->
        <!--</ul>-->
        <!--<ul *ngIf="flightsArray">-->
          <!--<li *ngFor="let flights of flightsArray">-->
            <!--<sd-flightComplexOffer [flights]="flights"></sd-flightComplexOffer>-->
          <!--</li>-->
        <!--</ul>-->

        <p-dataList *ngIf="flightsArray.length" [value]="flightsArray" [paginator]="true" [rows]="4">
          <ng-template let-flights pTemplate="item">
            <sd-flightComplexOffer [flights]="flights"></sd-flightComplexOffer>
          </ng-template>
        </p-dataList>

        <!--<virtual-scroll [items]="flightsArray" #scroll>-->
          <!--<sd-flightComplexOffer *ngFor="let item of scroll.viewPortItems" [flights]="item">-->
            <!--&lt;!&ndash;<sd-flightComplexOffer [flights]="flights"></sd-flightComplexOffer>&ndash;&gt;-->
          <!--</sd-flightComplexOffer>-->
        <!--</virtual-scroll>-->


        <div *ngIf="!flightsArray || flightsArray.length === 0" class="flightPanel__notFound">
          По данному запросу ничего не найдено
        </div>
      </p-tabPanel>
      <p-tabPanel header="Карта">
        <ul *ngIf="flightsArray">
          <sd-flightMap [flightsArray]="flightsArray"></sd-flightMap>
        </ul>


      </p-tabPanel>
    </p-tabView>
  </div>

</div>
