@import "../normalize.scss";
@import "../constants.scss";


:host {
  display: block;
  padding: 0 16px;
}

.center-container {
  max-width: 1024px;
  min-width: 480px;
  margin: 0 auto;
}


.flightPanel {
  //display: flex;
  //align-items: center;

  .ui-toolbar {
    background-color: lightblue;
    background-image: url(../../assets/img/10665_big.jpg);
    background-repeat: no-repeat;
    background-position-y: 67%;
    //background-size: cover;
    background-attachment: scroll;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px 20px;

    &_in {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &_first {
      margin-left: 20px;
    }
  }

  &__input {
    color: black;
    font-weight: normal;
    border-radius: $border-radius;
    border: none;
    height: 29px;
    width: 200px;
    margin-right: 30px;

    & .svg-inline--fa {
      display: none;
    }
  }

  &__table {
    display: flex;
    align-items: stretch;

    margin-top: 20px;
    width: 1300px;
  }

  &__tab {
    //display: inline-block;
    margin-left: 10px;
    width: 75%;
    border-left: 1px solid $blue-color;
    //margin-top: -5px;
  }

  &__tabView {
    //padding-top: 10px;
    //padding-left: 20px;
    //vertical-align: text-top;
    overflow: auto;
  }

  &__filter {
    //display: inline-block;
    width: 20%;
    //height: 200px;
    //padding-top: 10px;
    //vertical-align: text-top;
    vertical-align: top;
    //border-right: 1px solid $blue-color;

    &_content {
      width: 70%;
      margin-left: 10%  ;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid $blue-color;
    }

    &_listbox {

      width: 70%;
    }

    & p {
      //font-weight: 600;
      font-size: larger;
    }
  }

  &_notFound {
    //border: 1px solid black;
    width: 100%;
    color: #898989;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
  }

  &__transfers {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    & label {
      font-weight: normal;
      margin-top: 5px;
    }
  }

  //&__search-icone {
  //  margin-left: -20px;
  //  margin-right: 20px;
  //}

}

//p-calendar .p-calendar-style input{
//  width: 200px;
//}
//p-calendar .p-calendar-style .ui-datepicker {
//  background-color: white;
//}

.btn, .btn:hover, .btn:focus {
  background-color: $blue-color;
  color: white;

}

.btn_white {
  border: 1px solid #bfd7f2;
}
//
//h4 {
//  color: $blue-color-darker;
//  font-family: Geneva, Arial, sans-serif;
//}


