<p-toolbar>
  <div class="ui-toolbar-group-left">
    <input type="text" pInputText placeholder="Откуда" [(ngModel)]="departureCity"/>
    <input type="text" pInputText placeholder="Куда" [(ngModel)]="arrivalCity"/>
    <p-calendar dateFormat="dd/mm/yy" placeholder="Когда" [(ngModel)]="departureDate"></p-calendar>
    <p-calendar dateFormat="dd/mm/yy" placeholder="Обратно" [(ngModel)]="arrivalDate" class="ui-calendar"></p-calendar>



    <i class="fa fa-bars"></i>

    <button type="button" label="Search" (click)="search()" ></button>

    <!--p-autoComplete formControlName="Откуда" [(ngModel)]="city" [suggestions]="cities" (completeMethod)="searchCity($event)">
    </p-autoComplete-->

  </div>

</p-toolbar>
<h3 [(ngModel)] = "result">{{ result }}</h3>
<!--ul>
  <li *ngFor="let flight of flights">
    <p>{{ flight.departureCity }}</p>
    <p>{{ flight.arrivalCity }}</p>
    <p>{{ flight.departureTime }}</p>
    <p>{{ flight.arrivalDate }}</p>
  </li>
</ul-->
