@import "../constants.scss";
@import "../normalize.scss";

:host {
  display: block;
  padding: 0 16px;
}
//todo вынести общие стили в normalize


p-dialog.ng-tns-c5-0>div.ui-widget.ui-widget-content {
  width: 400px !important;
}

div.ui-dialog-content  {
  height: 250px !important;
}

.text>span>input.ui-inputtext, input {
  width: 200px;
}

.ui-g-10 {
  width: 75% !important;
}

.ui-g-2 {
  width: 25% !important;
}

.airportMap {
  &__delete{
    border-radius: 5px;
    height: 31px;
    border: none;
    background-color: red;
    color: white;
    float: left !important;
    &:hover {
      background-color: #d91800;
    }
  }
}
