
  <form (submit)="addCity()">
    <input [(ngModel)]="cityName" name="cityName" placeholder="Название" [pKeyFilter]="blockSpecial">
    <button type="submit">Добавить</button>
  </form>

  <ul *ngIf="cities">
    <li *ngFor="let city of cities">
      <!-- нажатие на кнопку - удаление города -->
      <!--<button type="button" (click)="deleteCity($event)" class="cityDeleteButton">{{city.name}}</button>-->
      <button type="button" class="cityDeleteButton">{{city.name}}</button>

    </li>
  </ul>

