$blue-color: #106cc8;
$blue-color-darker: #0f478e;
$border-radius: 5px;
$flightTicket-height: 120px;
$image-color: #6e6e6e;

:host {
  display: block;
  padding: 0 16px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

div.ui-tabview {
  border-left: 1px solid $blue-color !important;
}

.flightOffer {
  border-radius: 5px;
  margin-top: 10px;
  background-color: beige;
  margin-left: 1%;
  display: block;
  height: $flightTicket-height !important;
  width: 100%;
  text-align: center;


  &__ticketColumn {
    // border: 1px solid yellow;
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
    height: 120px;
    border-radius: 5px;

    &_three-fourth {
      width: 74%;
      border: 1px solid $blue-color-darker;
      border-right: 1px dashed $blue-color-darker;
    }

    &_one-fourth {
      width: 25%;
      border: 1px solid $blue-color-darker;
      border-left: 1px dashed $blue-color-darker;
      vertical-align: middle;
    }
  }


  &__ticketNameColumn, &__middleColumn {
    //border: 1px solid gray;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    height: 80px;
  }

  &__ticketNameColumn {
    width: 39%;
  }
  &__middleColumn {
    width: 20%;
  }


  &__icone {
    // border: 1px solid black;
    display: inline-block;
    vertical-align: bottom;
    width: 180%;
    height: 20px;
    margin-top: 20px;
    margin-left: -30px;
  }

  &__row {
    //border: 1px solid green;
    display: block;
    height: 30px;
    color: $image-color;
  }
}
