$blue-color: #106cc8;
$blue-color-darker: #0f478e;
$border-radius: 5px;
$flightTicket-height: 120px;

:host {
  display: block;
  padding: 0 16px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

p-calendar .p-calendar-style input{
  width: 200px;
}

p-calendar .p-calendar-style .ui-datepicker {
  background-color: white;
}

.flightTicket {
  border-radius: 5px;
  margin-top: 10px;
  background-color: beige;
  margin-left: 1%;
  display: block;
  height: $flightTicket-height !important;
  width: 95%;
}

div.flightTicket-text{
  margin-left: 20px;
  width: 200px;
  float: left;
  margin-bottom: 10px;
  /*display: inline-block;*/
}

table.flightTicket tr div:first-child,
table.flightTicket tr div:nth-child(2){
  width: 100px;
}

div.flightTicket-text_margin{
  margin-top: 40px;
  //margin-bottom: -20px;
}


.flightTicket .flightTicket-addition {
  visibility: hidden;
  opacity: 1;
}


.flightTicket:hover .flightTicket-addition {
  visibility: visible;
}

.addition-container {
  height: $flightTicket-height;
  width: 200px;
  position: fixed;
  top: -100px;
  margin-left: 700px;
  padding-top: 10px;
  padding-left: 20px;
  border-left: 1px solid $blue-color;
}

.addition-infa {
  position: relative;
  top: -200px;
  left: -50px;
  //margin-left: 350px;

}

.btn, .btn:hover, .btn:focus {
  background-color: $blue-color;
  color: white;

}

.btn-white {
  border: 1px solid #bfd7f2;
}



.ui-dialog {
  position: relative !important;
  //width: 300px !important;
  //left: -500px;
}


.openMap {
  height: 300px;
  border: 20px solid black;
  display: block;
}
