
  <!--<p-toolbar>-->
    <!--<button type="button" (click)="airport()" class="flightPanel-in flightPanel-first btn btn-white">Добавить аэропорт</button>-->
    <!--<button type="button" (click)="city()" class="flightPanel-in flightPanel-first btn btn-white">Города</button>-->

  <!--</p-toolbar>-->

  <!--<div *ngIf="airportFlag">-->
    <!--<sd-airportMap></sd-airportMap>-->
  <!--</div>-->

  <!--<div *ngIf="cityFlag">-->
    <!--<sd-cityAddition></sd-cityAddition>-->
  <!--</div>-->


  <p-tabView class="tabs">
    <p-tabPanel header="Изменить аэропорт">
      <sd-airportMap></sd-airportMap>
    </p-tabPanel>
    <p-tabPanel header="Именить город">
      <sd-cityAddition></sd-cityAddition>
    </p-tabPanel>
  </p-tabView>
